apr13/lab02/xsd/task.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Task">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:byte" name="id"/>
                <xs:element type="xs:string" name="categoryId"/>
                <xs:element type="xs:string" name="text"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>