apr13/lab02/myxsd/result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

    <xsd:complexType name="result">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="user_id" type="xsd:int"/>
            <xsd:element name="category_id" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>