apr13/lab02/myxsd/result_task.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

    <xsd:complexType name="result_task">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="result_id" type="xsd:int"/>
            <xsd:element name="task_id" type="xsd:int"/>
            <xsd:element name="answers" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>