apr13/lab02/myxsd/task.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">
    <xsd:include schemaLocation="answer.xsd" />

    <xsd:complexType name="task">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="text" type="xsd:string"/>
            <xsd:element name="categoryId" type="xsd:int"/>
            <xsd:element name="answers" type="answer" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>