apr13/lab02/myxsd/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">

    <xsd:complexType name="user">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="login" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string"/>
            <xsd:element name="is_admin" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>