apr05/w01/src/com/company/BookSpy.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2017 rel. 3 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Book">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Fields"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Field">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Field">
					<xs:attribute name="name" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="author"/>
								<xs:enumeration value="isbn"/>
								<xs:enumeration value="serialVersionUID"/>
								<xs:enumeration value="title"/>
								<xs:enumeration value="year"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Field" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST_Field">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2"/>
			<xs:enumeration value="2017"/>
			<xs:enumeration value="345123isbn"/>
			<xs:enumeration value="Intro to Java"/>
			<xs:enumeration value="schildt"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
